//-==========================
  extends
//-==========================
extends ./_layouts/layout-common.pug


//-==========================
  meta
//-==========================
block prepend meta
  -
    var title = ''

//-==========================
  view
//-==========================
block contents
  
  section.uk-section
    .uk-container
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptatum saepe iure tempora expedita dolore id deserunt, eligendi porro vitae vel tenetur ipsum dolores beatae ea praesentium laboriosam maxime sunt.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptatum saepe iure tempora expedita dolore id deserunt, eligendi porro vitae vel tenetur ipsum dolores beatae ea praesentium laboriosam maxime sunt.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptatum saepe iure tempora expedita dolore id deserunt, eligendi porro vitae vel tenetur ipsum dolores beatae ea praesentium laboriosam maxime sunt.
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos voluptatum saepe iure tempora expedita dolore id deserunt, eligendi porro vitae vel tenetur ipsum dolores beatae ea praesentium laboriosam maxime sunt.
      