<template lang="pug">
p {{msg}}
</template>

<script>
/* --------------------------------------- */
/* import */
/* --------------------------------------- */

/* --------------------------------------- */
/* defaine */
/* --------------------------------------- */
export default {
	data: () => ({
		msg: 'Hello world 2',
	}),
};
</script>
